<form
  class="form-horizontal"
  autocomplete="off"
  #createHabitForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="habitId > 0 ? 'Edit Habit' : 'Create Habit'"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="habitName">
        Habit Name
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="habitName"
          id="habitName"
          minlength="2"
          maxlength="500"
          required
          [(ngModel)]="habitDto.name"
          #habitNameModel="ngModel"
          #habitNameEl
        />
        <abp-validation-summary
          [control]="habitNameModel"
          [controlEl]="habitNameEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="habitGoal">
        Goal (600000 phút = 10000 giờ)
      </label>
      <div class="col-md-9">
        <input
          type="number"
          class="form-control"
          name="habitGoal"
          id="habitGoal"
          required
          [(ngModel)]="habitDto.timeGoal"
          #habitGoalModel="ngModel"
          #habitGoalEl
        />
        <abp-validation-summary
          [control]="habitGoalModel"
          [controlEl]="habitGoalEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="goalPerDay">Mục tiêu mỗi ngày (phút)</label>
      <div class="col-md-9">
        <input
          id="goalPerDay"
          class="form-control"
          type="number"
          min="0"
          max="1440"
          name="goalPerDay"
          [(ngModel)]="habitDto.goalPerDay"
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="order">Order</label>
      <div class="col-md-9">
        <input
          id="order"
          class="form-control"
          type="number"
          name="order"
          [(ngModel)]="habitDto.order"
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="habitLogType">Loại log</label>
      <div class="col-md-9">
        <select id="habitLogType" class="form-select form-control" [(ngModel)]="habitDto.habitLogType" name="habitLogtype">
          <option value="0" selected>Theo thời gian log</option>
          <option value="1">Theo trạng thái log</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Mô tả</label>
      <div class="col-md-9">
        <textarea id="habitDescription" class="form-control" [(ngModel)]="habitDto.description" name="description"></textarea>
      </div>
    </div>
  </div>
</form>
