<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>Habit Manager</h1>
        </div>
        <div class="col-6 text-right">
          <a href="javascript:;" class="btn bg-blue" (click)="createHabit()">
            <i class="fa fa-plus-square"></i>
            Create
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="p-3">
        <div class="card p-2">
          <div class="row">
            <div class="col-md-6">
              <label class="form-label">Search</label>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="searchKeyWord"
                placeholder="search..."
                (keyup)="getAllHabits()"
              />
            </div>
            <div class="col-md-5">
              <label class="form-label">Category</label>
              <select
                id="habitcategory"
                class="form-select form-control"
                [(ngModel)]="categorySelected"
                name="habitcategory"
                (change)="getAllHabits()"
              >
                <option value="-1" >Tất cả</option>
                <option
                  [value]="category.id"
                  *ngFor="let category of listHabitCategory"
                >
                  {{ category.name }}
                </option>
              </select>
            </div>
            <div class="col-md-1" style="margin-top: 31px;">
                <button class="btn btn-primary" (click)="resetSearching()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="p-3">
        <app-habit
          *ngFor="let habit of habits"
          [habit-dto]="habit"
          (onEditHabitBtnClick)="editHabit($event)"
        ></app-habit>
      </div>
    </div>
  </section>
</div>
