<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "HomePage" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-lg-3 col-6"
          *ngFor="let category of habitCategoryAnalyses"
        >
          <div
            class="small-box"
            [style.background-color]="
              category.colorCode != null ? category.colorCode : '#007bff'
            "
            style="color: #fff"
          >
            <div class="inner">
              <div style="display: flex">
                <h3>{{ (category.totalPracticeTime / 60).toFixed(2) }}h</h3>
              </div>
              <h4>{{ category.name }}</h4>
            </div>
            <div class="icon">
              <i
                class="fas"
                [class]="
                  category.iconCode != null ? category.iconCode : 'fa-star'
                "
              ></i>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header" style="background-color: #F9E79F;">
              <h3 class="card-title">Daily Tasks</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead class="bg-light">
                  <tr>
                    <th class="w-25">Habit Name</th>
                    <th class="w-25">Category</th>
                    <th>Time Log (minute)</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of dailyTaskDtos">
                    <td>{{ task.name }}</td>
                    <td>
                      <span
                        *ngIf="task.categoryName!; null"
                        [style.background-color]="
                          task.categoryColor != null
                            ? task.categoryColor
                            : '#007bff'
                        "
                        style="
                          color: #fff;
                          display: flex;
                          width: fit-content;
                          align-items: center;
                        "
                        class="badge mx-1"
                      >
                        <i
                          class="fas"
                          [class]="
                          task.categoryIcon != null ? task.categoryIcon : 'fa-star'"
                          style="font-size: 20px !important; margin-right: 9px"
                        ></i>
                        {{ task.categoryName }}
                      </span>
                    </td>
                    <td>
                      <input
                        *ngIf="task.logType == 0"
                        class="form-control"
                        type="number"
                        min="0"
                        [(ngModel)]="task.timeLog"
                        style="width: 100px"
                      />
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-primary"
                        style="cursor: pointer"
                        (click)="logWork(task)"
                      >
                        Check
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Not Daily Tasks</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead class="bg-light">
                  <tr>
                    <th class="w-25">Habit Name</th>
                    <th class="w-25">Category</th>
                    <th>Time Log (minute)</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of notDailyTaskDtos">
                    <td>{{ task.name }}</td>
                    <td>
                      <span
                        *ngIf="task.categoryName!; null"
                        [style.background-color]="
                          task.categoryColor != null
                            ? task.categoryColor
                            : '#007bff'
                        "
                        style="
                          color: #fff;
                          display: flex;
                          width: fit-content;
                          align-items: center;
                        "
                        class="badge mx-1"
                      >
                        <i
                          class="fas"
                          [class]="
                          task.categoryIcon != null ? task.categoryIcon : 'fa-star'"
                          style="font-size: 20px !important; margin-right: 9px"
                        ></i>
                        {{ task.categoryName }}
                      </span>
                    </td>
                    <td>
                      <input
                        *ngIf="task.logType == 0"
                        class="form-control"
                        type="number"
                        min="0"
                        [(ngModel)]="task.timeLog"
                        style="width: 100px"
                      />
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-primary"
                        style="cursor: pointer"
                        (click)="logWork(task)"
                      >
                        Check
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="w-100 bar-chart">
          <select
            class="form-select form-control mt-3"
            style="width: 100px"
            [(ngModel)]="timeDuration"
            name="timeDuration"
            (change)="getTotalWorkingOfEachDay()"
          >
           <option value="7">1 Week</option>
           <option value="30">1 Month</option>
           <option value="90">3 Months</option>
           <option value="365">12 Months</option>
          </select>
          <apx-chart
          [series]="multipleYAxisChartOption.series"
          [chart]="multipleYAxisChartOption.chart"
          [yaxis]="multipleYAxisChartOption.yaxis"
          [xaxis]="multipleYAxisChartOption.xaxis"
          [labels]="multipleYAxisChartOption.labels"
          [stroke]="multipleYAxisChartOption.stroke"
          [title]="multipleYAxisChartOption.title"
          [dataLabels]="multipleYAxisChartOption.dataLabels"
          [fill]="multipleYAxisChartOption.fill"
          [tooltip]="multipleYAxisChartOption.tooltip"
        ></apx-chart>
        </div>
      </div>
    </div>
  </section>
</div>
