<div class="habit-ctn card">
  <div class="habit-header">
    <h3 class="habit-name">{{ habitDto.name }}</h3>
    <button class="btn btn-primary mr-2" (click)="showDetailChart()">
      {{ isShowDetail ? "Hide detail" : "Show Detail" }}
    </button>
    <button
      class="btn btn-primary mr-2"
      (click)="showLogWorkDialog(habitDto.id, habitDto.habitLogType)"
    >
      Log work
    </button>
    <button class="btn btn-primary edit-habit-btn" (click)="editHabit()">
      Sửa
    </button>
  </div>
  <div *ngIf="habitDto.habitLogType == 0">
    <div>
      <span class="badge bg-primary" style="font-size: 14px"
        >Số giờ mục tiêu:</span
      >
      {{ (habitDto.timeGoal / 60).toFixed(2) }} giờ
    </div>
    <div>
      <span class="badge bg-warning" style="font-size: 14px"
        >Số giờ đã làm:
      </span>
      {{ (habitDto.practiceTime / 60).toFixed(2) }} giờ
    </div>
    <div>
      <span class="badge bg-success" style="font-size: 14px"
        >Mục tiêu mỗi ngày:
      </span>
      {{ habitDto.goalPerDay }} phút
    </div>
    <div class="progress-ctn">
      <span class="badge bg-danger" style="font-size: 14px">Process: </span>
      {{ progressValue.toFixed(4) }}%
    </div>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped bg-warning"
        [ngClass]="{
          'bg-danger': progressValue < 10,
          'bg-warning': progressValue < 30,
          'bg-info': progressValue < 50,
          'bg-success': progressValue < 80
        }"
        role="progressbar"
        [style.width.%]="progressValue"
        [attr.aria-valuenow]="habitDto.practiceTime"
        aria-valuemin="0"
        [attr.aria-valuemax]="habitDto.timeGoal"
      ></div>
    </div>
  </div>
  <div *ngIf="isShowDetail" class="detail-chart-ctn">
    <div class="heat-map-chart-ctn w-50">
      <select
        class="form-select form-control mt-3"
        style="width: 100px"
        [(ngModel)]="chartYear"
        name="chartYear"
        (change)="getAllHabitLogDataByYear()"
      >
        <option *ngFor="let year of rangeYears" [value]="year">
          {{ year }}
        </option>
      </select>
      <apx-chart
        [series]="heatMapChartOptions.series"
        [chart]="heatMapChartOptions.chart"
        [dataLabels]="heatMapChartOptions.dataLabels"
        [plotOptions]="heatMapChartOptions.plotOptions"
        [title]="heatMapChartOptions.title"
      ></apx-chart>
    </div>
    <div class="w-50 bar-chart">
      <select
        class="form-select form-control mt-3"
        style="width: 100px"
        [(ngModel)]="chartYear"
        name="chartYear"
        (change)="getAllHabitLogDataByYear()"
      >
        <option *ngFor="let year of rangeYears" [value]="year">
          {{ year }}
        </option>
      </select>
      <apx-chart
        [series]="multipleYAxisChartOption.series"
        [chart]="multipleYAxisChartOption.chart"
        [xaxis]="multipleYAxisChartOption.xaxis"
        [markers]="multipleYAxisChartOption.markers"
        [stroke]="multipleYAxisChartOption.stroke"
        [yaxis]="multipleYAxisChartOption.yaxis"
        [dataLabels]="multipleYAxisChartOption.dataLabels"
        [title]="multipleYAxisChartOption.title"
        [fill]="multipleYAxisChartOption.fill"
        [tooltip]="multipleYAxisChartOption.tooltip"
        [legend]="multipleYAxisChartOption.legend"
      ></apx-chart>
    </div>
  </div>
</div>
