.habit-ctn {
    margin-bottom: 34px;
    padding: 20px 10px;
    line-height: 2;
}
.habit-header{
    display: flex;
    align-items: center;
}
.habit-header>h3{
    flex-grow: 1;
}
.habit-header>.edit-habit-btn{
    width: 100px;
}
.progress-ctn{
    display: flex;
    align-items: center;
    margin-top: 2px;
}
.progress{
    height: 9px;
}
.detail-chart-ctn{
    display: flex;
    margin-top: 10px;
}
.detail-chart-ctn>div{
    padding: 10px;
}
.bar-chart{
    padding: 10px;
    border-left: 1px solid #d2d2d2;
}